<div class="container">
  <form class="text-center p-5" [formGroup]="rForm" (submit)="submit()">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <mat-select (selectionChange)="onChangeCategoryValue()" formControlName="category" placeholder="Category">
          <mat-option [value]="null">Select category...</mat-option>
          <mat-option *ngFor="let category of eActivityCategories | keyvalue"
                      [value]="category.value">{{category.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="rForm.get('category').invalid">{{ getCategoryErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Subcategory</mat-label>
        <mat-select formControlName="subcategory" placeholder="Subcategory">
          <mat-option [value]="null">Select subcategory...</mat-option>
          <mat-option *ngFor="let subcategory of eSubcategory | keyvalue"
                      [value]="subcategory.value">{{subcategory.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="rForm.get('subcategory').invalid">{{ getSubcategoryErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" name="name" formControlName="name"/>
        <mat-error *ngIf="rForm.get('name').invalid">{{ getNameErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput type="text" placeholder="Description" name="description" formControlName="description"/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Language</mat-label>
        <mat-select formControlName="language" placeholder="Language">
          <mat-option [value]="null">Select language...</mat-option>
          <mat-option *ngFor="let language of eActivityLenguages | keyvalue"
                      [value]="language.value">{{language.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="rForm.get('language').invalid">{{ getLanguageErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput type="text" placeholder="dd/MM/yyyy" name="date" formControlName="date"/>
        <mat-error *ngIf="rForm.get('date').invalid">{{ getDateErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="Price" name="price" formControlName="price"/>
        <mat-error *ngIf="rForm.get('price').invalid">{{ getPriceErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Minimum capacity</mat-label>
        <input matInput type="number" placeholder="Minium Capacity" name="miniumCapacity"
               formControlName="miniumCapacity"/>
        <mat-error *ngIf="rForm.get('miniumCapacity').invalid">{{ getMinimumCapacityErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Limit capacity</mat-label>
        <input matInput type="number" placeholder="Limit Capacity" name="limitCapacity"
               formControlName="limitCapacity"/>
        <mat-error *ngIf="rForm.get('limitCapacity').invalid">{{ getLimitCapacityErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <mat-select formControlName="state" placeholder="State">
          <mat-option [value]="null">Select state...</mat-option>
          <mat-option *ngFor="let state of eActivityStates | keyvalue"
                      [value]="state.value">{{state.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="rForm.get('state').invalid">{{ getStateErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">Save</button>
    </section>
  </form>
</div>
