<div class="container">
  <form class="text-center p-5" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
    <h5 class="float-left">PROFILE</h5>
    <br>
    <hr style="border-top: 1px solid #3747AC;"/>
    <div *ngIf="companyProfile">
      <section>
        <mat-form-field appearance="fill">
          <mat-label>Company name</mat-label>
          <input matInput type="text" [formControl]="companyName" placeholder="Company Name"/>
          <mat-error *ngIf="companyName.invalid">{{ getCompanyNameErrorMessage() }} </mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="fill">
          <mat-label>Company description</mat-label>
          <input matInput type="text" [formControl]="companyDescription" placeholder="Company Description"/>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="fill">
          <mat-label>CIF</mat-label>
          <input matInput type="text" [formControl]="cif" placeholder="CIF"/>
        </mat-form-field>
      </section>
    </div>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="name" placeholder="Name"/>
        <mat-error *ngIf="name.invalid">{{ getNameErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput type="text" [formControl]="surname" placeholder="Surname"/>
        <mat-error *ngIf="surname.invalid">{{ getSurnameErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Birth date</mat-label>
        <input matInput type="text" placeholder="dd/MM/yyyy" [formControl]="birthDate"/>
        <mat-error *ngIf="birthDate.invalid">{{ getBirthDateErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput type="number" [formControl]="phone" placeholder="Phone"/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Nationality</mat-label>
        <mat-select [formControl]="nationality" placeholder="Nacionality">
          <mat-option [value]="null">Select nacionality...</mat-option>
          <mat-option *ngFor="let nationality of eUserNationalities | keyvalue"
                      [value]="nationality.value">{{nationality.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>NIF</mat-label>
        <input matInput type="text" [formControl]="nif" placeholder="NIF"/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>About me</mat-label>
        <textarea matInput [formControl]="aboutMe" placeholder="About me"></textarea>
      </mat-form-field>
    </section>

    <section>
      <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">UPDATE PROFILE
        INFORMATION
      </button>
    </section>
  </form>
  <form class="text-center border border-light p-5">
    <br>
    <h5 class="float-left">EDUCATION</h5>
    <br>
    <hr style="border-top: 1px solid #3747AC;"/>
    <ul class="list-group">
      <table class="table table-bordered">
        <thead>
        <tr style="background-color:#3747AC; color: #fff;">
          <th>Type</th>
          <th>Level</th>
          <th>Name</th>
          <th>University</th>
          <th>Finish date</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let education of user.educations">
          <th>{{ education.type }}</th>
          <th>{{ education.level }}</th>
          <td>{{ education.name }}</td>
          <td>{{ education.university }}</td>
          <td>{{ education.finish }}</td>
          <td>
            <button class="btn-space" mat-raised-button color="primary"
                    [routerLink]="['/profile-education', education.uid]">Edit
            </button>
            <button class="btn-space" mat-raised-button color="warn" (click)="onClickDeleteEducation(education.uid)">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <button mat-raised-button color="primary" [routerLink]="['/profile-education']">Add</button>
    </ul>
  </form>
  <form class="text-center border border-light p-5">
    <br>
    <h5 class="float-left">LANGUAGES</h5>
    <br>
    <hr style="border-top: 1px solid #3747AC;"/>
    <ul class="list-group">
      <table class="table table-bordered">
        <thead>
        <tr style="background-color:#3747AC; color: #fff;">
          <th>Level</th>
          <th>Language</th>
          <th>Finish date</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let language of user.languages">
          <th>{{ language.level }}</th>
          <td>{{ language.language }}</td>
          <td>{{ language.finish }}</td>
          <td>
            <button class="btn-space" mat-raised-button color="primary"
                    [routerLink]="['/profile-language', language.uid]">Edit
            </button>
            <button class="btn-space" mat-raised-button color="warn" (click)="onClickDeleteLanguage(language.uid)">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <button mat-raised-button color="primary" [routerLink]="['/profile-language']">Add</button>
    </ul>
  </form>
</div>
