<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Category</th>
    <th scope="col">Price</th>
    <th scope="col">Language</th>
    <th scope="col">Date</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let activity of activitiesList">
    <td>{{activity.name}}</td>
    <td>{{activity.category}}</td>
    <td>{{activity.price}}</td>
    <td>{{activity.language}}</td>
    <td>{{activity.date}}</td>
    <td>
      <button class="btn btn-primary" (click)="onActivityClicked(activity)">></button>
    </td>
  </tr>
  </tbody>
</table>
