<div class="container">
  <form (ngSubmit)="checkRegister()" [formGroup]="registerForm" class="needs-validation">
    <div class="mb-3">
      <label class="form-label" for="inputName">Name</label>
      <input [formControl]="name" class="form-control" id="inputName" type="text">

      <div *ngIf="registerForm.get('name').errors && (registerForm.get('name').touched || registerForm.get('name').dirty)"
           class="text-danger">
        Name has an invalid format
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="inputSurname">Surname</label>
      <input [formControl]="surname" class="form-control" id="inputSurname" type="text">

      <div *ngIf="registerForm.get('surname').errors && (registerForm.get('surname').touched || registerForm.get('surname').dirty)"
           class="text-danger">
        Surname has an invalid format
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="selectType">Type</label>
      <select [formControl]="type" class="form-control" id="selectType">
        <option value="">Please select</option>
        <option value="tourist">Tourist</option>
        <option value="company">Company</option>
      </select>

      <div *ngIf="registerForm.get('type').errors && (registerForm.get('type').touched || registerForm.get('type').dirty)"
           class="text-danger">
        Type has an invalid format
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="inputEmail">Email address</label>
      <input [formControl]="email" class="form-control" id="inputEmail" type="email">

      <div *ngIf="registerForm.get('email').errors && (registerForm.get('email').touched || registerForm.get('email').dirty)"
           class="text-danger">
        Email has an invalid format
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="inputPassword">Password</label>
      <input [formControl]="password" class="form-control" id="inputPassword" type="password">

      <div *ngIf="registerForm.get('passwordGroup').get('password').errors
           && (registerForm.get('passwordGroup').get('password').touched
           || registerForm.get('passwordGroup').get('password').dirty)"
           class="text-danger">
        Password has an invalid format
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="inputRepeatedPassword">Repeat password</label>
      <input [formControl]="confirmPassword" class="form-control" id="inputRepeatedPassword" type="password">

      <div *ngIf="registerForm.get('passwordGroup').get('confirmPassword').errors
           && (registerForm.get('passwordGroup').get('confirmPassword').touched
           || registerForm.get('passwordGroup').get('confirmPassword').dirty)"
           class="text-danger">
        Password has an invalid format
      </div>

      <div *ngIf="isUserRegistered" class="text-danger">
        User already registered
      </div>
    </div>

    <button [disabled]="!registerForm.valid" class="btn btn-primary" type="submit">Join Now</button>
  </form>
</div>
