<div class="container">
  <form class="needs-validation" [formGroup]="registerForm" (ngSubmit)="checkRegister()">
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputName" [formControl]="name">

      <div class="text-danger"
           *ngIf="registerForm.get('name').errors && (registerForm.get('name').touched || registerForm.get('name').dirty)">
        Name has an invalid format
      </div>
    </div>

    <div class="mb-3">
      <label for="inputSurname" class="form-label">Surname</label>
      <input type="text" class="form-control" id="inputSurname" [formControl]="surname">

      <div class="text-danger"
           *ngIf="registerForm.get('surname').errors && (registerForm.get('surname').touched || registerForm.get('surname').dirty)">
        Surname has an invalid format
      </div>
    </div>

    <div class="mb-3">
      <label for="selectType" class="form-label">Type</label>
      <select class="form-control" id="selectType" [formControl]="type">
        <option value="tourist" selected>Tourist</option>
        <option value="company">Company</option>
      </select>

      <div class="text-danger"
           *ngIf="registerForm.get('type').errors && (registerForm.get('type').touched || registerForm.get('type').dirty)">
        Type has an invalid format
      </div>
    </div>

    <div class="mb-3">
      <label for="inputEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="inputEmail" [formControl]="email">

      <div class="text-danger"
           *ngIf="registerForm.get('email').errors && (registerForm.get('email').touched || registerForm.get('email').dirty)">
        Email has an invalid format
      </div>
    </div>

    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" [formControl]="password">

      <div class="text-danger"
           *ngIf="registerForm.get('passwordGroup').get('password').errors
           && (registerForm.get('passwordGroup').get('password').touched
           || registerForm.get('passwordGroup').get('password').dirty)">
        Password has an invalid format
      </div>
    </div>

    <div class="mb-3">
      <label for="inputRepeatedPassword" class="form-label">Repeat password</label>
      <input type="password" class="form-control" id="inputRepeatedPassword" [formControl]="confirmPassword">

      <div class="text-danger"
           *ngIf="registerForm.get('passwordGroup').get('confirmPassword').errors
           && (registerForm.get('passwordGroup').get('confirmPassword').touched
           || registerForm.get('passwordGroup').get('confirmPassword').dirty)">
        Password has an invalid format
      </div>

      <div class="text-danger" *ngIf="isUserRegistered">
        User already registered
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Join Now</button>
  </form>
</div>
