<div class="container">
  <form class="text-center p-5" [formGroup]="rForm" (submit)="submit()">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Level</mat-label>
        <mat-select formControlName="level" placeholder="Level">
          <mat-option [value]="null">Select level...</mat-option>
          <mat-option *ngFor="let level of eLanguageLevels | keyvalue"
                      [value]="level.value">{{level.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="rForm.get('level').invalid">{{ getLevelErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Language</mat-label>
        <mat-select formControlName="language" placeholder="Level">
          <mat-option [value]="null">Select language...</mat-option>
          <mat-option *ngFor="let language of eActivityLenguages | keyvalue"
                      [value]="language.value">{{language.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="rForm.get('language').invalid">{{ getLanguageErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Title date</mat-label>
        <input matInput type="text" placeholder="dd/MM/yyyy" name="date" formControlName="date"/>
        <mat-error *ngIf="rForm.get('date').invalid">{{ getTitleDateErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">Save</button>
    </section>
  </form>
</div>
