<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img width="130" src="assets/img/uoc_masterbrand_3linies_positiu.png" alt="UOC logo">
    <span class="title"> APP DE ACTIVIDADES TURÍSTICAS</span>
    <span class="menu-spacer"></span>
    <div>
      <button mat-button *ngIf="!loginState$.loggedIn" routerLink="/login">SIGN IN</button>
      <button mat-button *ngIf="!loginState$.loggedIn" routerLink="/register">JOIN NOW</button>
      <button mat-button *ngIf="loginState$.loggedIn" (click)="onClickHome()">HOME</button>
      <button mat-button *ngIf="userState$.user?.profile.type === 'Company'" routerLink="/activities-admin-list">ADMIN
      </button>
      <button mat-button *ngIf="userState$.user?.profile.type === 'Tourist'" (click)="onClickFavorites()">FAVORITES
      </button>
      <button mat-button *ngIf="userState$.user?.profile.type === 'Tourist'" (click)="onClickMyActivities()">MY
        ACTIVITIES
      </button>
      <button mat-button *ngIf="loginState$.loggedIn" routerLink="/profile">PROFILE</button>
      <button mat-button *ngIf="loginState$.loggedIn" (click)="onClickLogout()">LOGOUT</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


