<div class="container">
  <form class="text-center p-5" [formGroup]="rForm" (submit)="submit()">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select (selectionChange)="onChangeTypeValue()" formControlName="type" placeholder="Type">
          <mat-option [value]="null">Select type...</mat-option>
          <mat-option *ngFor="let type of eEducationTypes | keyvalue" [value]="type.value">{{type.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="rForm.get('type').invalid">{{ getTypeErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Level</mat-label>
        <mat-select formControlName="level" name="level" placeholder="Level">
          <mat-option [value]="null">Select level...</mat-option>
          <mat-option *ngFor="let level of eLevelTypes | keyvalue" [value]="level.value">{{level.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="rForm.get('level').invalid">{{ getLevelErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" name="name" formControlName="name"/>
        <mat-error *ngIf="rForm.get('name').invalid">{{ getNameErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>University</mat-label>
        <input matInput type="text" placeholder="University" name="university" formControlName="university"/>
        <mat-error *ngIf="rForm.get('university').invalid">{{ getUniversityErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Finish date</mat-label>
        <input matInput type="text" placeholder="dd/MM/yyyy" name="date" formControlName="date"/>
        <mat-error *ngIf="rForm.get('date').invalid">{{ getFinishDateErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">Save</button>
    </section>
  </form>
</div>
