<table class="table">
  <tbody>
  <tr>
    <th scope="row">Name</th>
    <td>{{selectedActivity.name}}</td>
  </tr>
  <tr>
    <th scope="row">Category</th>
    <td>{{selectedActivity.category}}</td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td>{{selectedActivity.description}}</td>
  </tr>
  <tr>
    <th scope="row">Subcategory</th>
    <td>{{selectedActivity.subcategory}}</td>
  </tr>
  <tr>
    <th scope="row">Language</th>
    <td>{{selectedActivity.language}}</td>
  </tr>
  <tr>
    <th scope="row">Price</th>
    <td>{{selectedActivity.price}}</td>
  </tr>
  <tr>
    <th scope="row">Date</th>
    <td>{{selectedActivity.date}}</td>
  </tr>
  <tr>
    <th scope="row">People registered</th>
    <td>{{selectedActivity.peopleRegistered}}</td>
  </tr>
  </tbody>
</table>
