<!-- Si hay alguna actividad seleccionada -->
<div *ngIf="activity">
  <h5 class="float-left">Activities detail</h5>
  <br>
  <hr style="border-top: 1px solid blue;"/>

  <form class="text-center p-5" [formGroup]="rForm">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" readonly/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput type="text" formControlName="category" readonly/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" readonly/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Subcategory</mat-label>
        <input matInput type="text" formControlName="subcategory" readonly/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Language</mat-label>
        <input matInput type="text" formControlName="language" readonly/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput type="text" formControlName="date" readonly/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput type="text" formControlName="price" readonly/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Minimum Capacity</mat-label>
        <input matInput type="text" formControlName="miniumCapacity" readonly/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Limit Capacity</mat-label>
        <input matInput type="text" formControlName="limitCapacity" readonly/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput type="text" formControlName="state" readonly/>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>People registered</mat-label>
        <input matInput type="text" formControlName="peopleRegistered" readonly/>
      </mat-form-field>
    </section>

    <button mat-raised-button color="primary" *ngIf="rForm.get('myActivitySignUpVisible').value"
            (click)="onClickSignUP()">SIGN UP
    </button>
    <button mat-raised-button color="warn" *ngIf="rForm.get('myActivityDeleteVisible').value"
            (click)="onClickDelete()">DELETE
    </button>

    <button mat-raised-button color="warn" *ngIf="rForm.get('saveFavoritesVisible').value"
            (click)="onClickSaveFavorites()"><i class="fas fa-heart"></i> SAVE
      FAVORITES
    </button>
    <button mat-raised-button color="warn" *ngIf="rForm.get('deleteFavoritesVisible').value"
            (click)="onClickDeleteFavorites()"><i class="fas fa-heart"></i>
      DELETE FAVORITES
    </button>
  </form>
</div>
