<div class="container">
  <form class="text-center p-5" [formGroup]="loginForm" (ngSubmit)="checkLogin()">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput type="email" [formControl]="email" placeholder="User E-mail"/>
        <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput type="password" [formControl]="password" placeholder="User Password"/>
        <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LogIn</button>
      <mat-error class="p-2" *ngIf="loginState$.error && (bSubmitted)">
        Invalid user or password
      </mat-error>
    </section>
  </form>
</div>
