<div class="container">
  <form class="text-center p-5" [formGroup]="registerForm" (ngSubmit)="userRegister()">
    <section>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" [formControl]="name" placeholder="User Name"/>
        <mat-error *ngIf="name.invalid">{{ getNameErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput type="text" [formControl]="surname" placeholder="User Surname"/>
        <mat-error *ngIf="surname.invalid">{{ getSurnameErrormessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>User type</mat-label>
        <mat-select matNativeControl>
          <mat-option [value]="null">Select user type...</mat-option>
          <mat-option *ngFor="let type of eUserTypes | keyvalue" [value]="type.value">{{type.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="type.invalid">{{ getUserTypeErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="email" placeholder="User Email"/>
        <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" [formControl]="password" placeholder="Password"/>
        <mat-error *ngIf="password.invalid">{{ getPasswordErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Repeat password</mat-label>
        <input matInput type="password" [formControl]="password2" placeholder="Repeat password"/>
        <mat-error *ngIf="password2.invalid">{{ getPassword2ErrorMessage() }} </mat-error>
      </mat-form-field>
    </section>

    <section>
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">JOIN NOW</button>
    </section>
  </form>
</div>
