<div class="container mt-5">
  <div class="row">
    <div class="col">
      <app-todo-list-item [todo]="todo" *ngFor="let todo of todos"></app-todo-list-item>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <button (click)="completeAllTask()" class="btn btn-success" type="button" *ngIf="todos.length">Complete all
      </button>
    </div>
    <div class="col-2">
      <button (click)="deleteCompletedTasks()" class="btn btn-danger" type="button" *ngIf="todos.length">Delete
        completed
      </button>
    </div>
  </div>
</div>
